<header uk-sticky>
    <nav class="uk-container uk-navbar">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/">Wild<strong>Circus</strong></a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@s">

                {% if app.user %}

                    <li class="uk-inline user-nav-item"><a class="uk-text-large" href="#">{{ app.user.username }}</a>
                        <div uk-dropdown>

                            <ul class="uk-nav uk-dropdown-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('administrator_performances_index') }}"><i class="fas fa-user-shield"></i> Admin panel</a></li>
                                {% endif %}

                                <li><a href="{{ path('app_cart') }}"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>

                            </ul>
                        </div>
                    </li>

                {% else %}

                    <li><a class="uk-text-large" href="{{ path('app_login') }}">Login</a></li>

                {% endif %}

            </ul>
            <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
        </div>
    </nav>
</header>
